<p>{{items | json}}</p>


<h1>Lists</h1>
<section style="display: flex;">
  <!-- <section>
    <h4>List One</h4>
    <cdk-drop #listOne [connectedTo]="[listTwo]" class="list-sorted" (dropped)="addToList($event)" [data]="items2">
      <div *ngFor="let item of items2" cdkDrag class="list-sorted__item">{{item.text}}</div>
    </cdk-drop>
  </section>

  <section>
    <h4>List Two</h4>
    <cdk-drop #listTwo [connectedTo]="[listOne]" class="list-sorted" (dropped)="addToList($event)" [data]="items3">
      <div *ngFor="let item of items3" cdkDrag class="list-sorted__item">{{item.text}}</div>
    </cdk-drop>
  </section> -->

  <section *ngFor="let list of listItems;let i = index">
     <h4>List One</h4>
    <cdk-drop id="a{{i}}" class="list-sorted" (dropped)="addToList($event)" [data]="list">
      <div *ngFor="let item of list" cdkDrag class="list-sorted__item">{{item.text}}</div>
    </cdk-drop>
  </section>

</section>


<!-- <div #dragRoot class="alternate-root" style="width: 200px; height: 200px; background: hotpink">
  <div cdkDrag cdkDragRootElement=".alternate-root" #dragElement style="width: 100px; height: 100px; background: red;"></div>
</div> -->
